<div class="page-header">
  <h1>Editing Actor #<%= @actor.id %></h1>
</div>

<%= form_tag(actor_url(@actor), method: 'patch', class: 'form-horizontal') do %>
  <div class="form-group">
    <%= label_tag :name, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :name, @actor.name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :bio, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :bio, @actor.bio, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :image_url, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :image_url, @actor.image_url, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :dob, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :dob, @actor.dob, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-6">
      <%= submit_tag "Update Actor", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
