<div class="page-header">
  <h1>Movies</h1>
</div>

<p><%= link_to 'Add a New Movie', new_movie_url, class: 'btn btn-primary' %></p>

<%= paginate @movies %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Year</th>
      <th>Duration</th>
      <th>Description</th>
      <th>Image</th>
      <th>Director</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.year %></td>
        <td><%= movie.duration %></td>
        <td><%= movie.description %></td>
        <td><%= image_tag movie.image_url, width: 200 %></td>
        <td>
          <% if movie.director != nil %>
            <%= link_to(movie.director.name, director_url(movie.director.id)) %>
          <% else %>
            No Director Assigned
          <% end %>
        </td>
        <td><%= link_to '<i class="fa fa-search-plus"></i>'.html_safe, movie_url(movie), class: 'btn btn-primary' %></td>
        <td><%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_movie_url(movie), class: 'btn btn-warning' %></td>
        <td><%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, movie_url(movie), method: 'delete', class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

