<div class="page-header">
  <h1>Movie #<%= @movie.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Title</dt>
  <dd><%= @movie.title %></dd>

  <dt>Year</dt>
  <dd><%= @movie.year %></dd>

  <dt>Duration</dt>
  <dd><%= @movie.duration %></dd>

  <dt>Description</dt>
  <dd><%= @movie.description %></dd>

  <dt>Image</dt>
  <dd><%= image_tag(@movie.image_url) %></dd>

  <dt>Director</dt>
  <dd><%= link_to(@movie.director.name, director_url(@movie.director.id)) %></dd>

</dl>

<h1>Cast</h1>
<ul>
  <% @movie.actors.each do |actor| %>
    <li><%= link_to(actor.name, actor_url(actor.id)) %></li>
  <% end %>
</ul>














