<div class="page-header">
  <h1>Director #<%= @director.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @director.name %></dd>

  <dt>Bio</dt>
  <dd><%= @director.bio %></dd>

  <dt>Image url</dt>
  <dd><%= @director.image_url %></dd>

  <dt>Dob</dt>
  <dd><%= @director.dob %></dd>

</dl>

<div class="page-header">
  <h1>Filmography</h1>
</div>

<ul>
  <% @director.movies.each do |movie| %>
    <li><%= link_to movie.title, movie_url(movie.id) %> (<%= movie.year %>)</li>
  <% end %>
</ul>














